---
import Layout from '@/layouts/layout.astro'
import H1 from '@/components/heading/h1.astro'
---

<Layout>
  <header>
    <H1>Hi, I'm Garvit</H1>
  </header>

  <div class="content">
    <p>
      I'm a software engineer from India. I spend my days building, fixing bugs, rooting for FC
      Barcelona, watching movies and stuck in Bangalore traffic.
    </p>

    <p>
      Currently, I'm researching information retrieval and AI. Some of my recent projects:
      <ul>
        <li>
          Researching multi modal retrieval and AI:
          <a href="https://github.com/gpahal/pdf-rag-embed-bench">gpahal/pdf-rag-embed-bench</a>
        </li>
        <li>
          Micro GPT implementation and training pipeline in PyTorch:
          <a href="https://github.com/gpahal/microgpt">gpahal/microgpt</a>
        </li>
        <li>
          Built a simple, durable and resilient workflow engine library ideal for AI workflows:
          <a href="https://github.com/gpahal/durable-execution">gpahal/durable-execution</a>
        </li>
      </ul>
    </p>

    <p>
      To know what I'm working on, check out my <a href="/projects">projects</a>, or my
      <a href="/work">work experience</a> or <a href="/uses">check out my setup</a>.
    </p>

    <p>
      I sometimes write about stuff I learn or build. You can find these writings on my <a
        href="/blog">blog</a
      >.
    </p>
  </div>
</Layout>
