---
import Layout from '@/layouts/layout.astro'
import H1 from '@/components/heading/h1.astro'
---

<Layout>
  <header>
    <H1>Hi, I'm Garvit</H1>
  </header>

  <div class="content">
    <p>
      I'm a software engineer from India. I spend my days building, fixing bugs, rooting for FC Barcelona, watching
      movies and stuck in Bangalore traffic.
    </p>

    <p>
      Currently, I'm studying deep learning and mathematics. Check out my recent project
      <a href="https://github.com/gpahal/microgpt">microgpt</a> which is a replication of OpenAI's GPT-2.
    </p>

    <p>
      To know what I'm working on, check out my <a href="/projects">projects</a>, or my
      <a href="/work">work experience</a> or <a href="/uses">check out my setup</a>.
    </p>

    <p>
      I sometimes write about stuff I learn or build. You can find these writings on my <a href="/blog">blog</a>.
    </p>
  </div>
</Layout>
