---
import Layout from '@/layouts/layout.astro'
import H1 from '@/components/heading/h1.astro'
import H3 from '@/components/heading/h3.astro'

const projects = [
  {
    href: 'https://github.com/gpahal/pdf-rag-embed-bench',
    name: 'pdf-rag-embed-bench',
    description:
      'Benchmark for PDF RAG embedding systems - from text to multimodal to multi vector and a combination of them',
  },
  {
    href: 'https://github.com/gpahal/microgpt',
    name: 'microgpt',
    description: 'Micro GPT implementation and training pipeline in PyTorch',
  },
  {
    href: 'https://github.com/gpahal/durable-execution',
    name: 'durable-execution',
    description:
      'Durable execution engine for running functions and workflows durably and resiliently, ideal for AI workflows',
  },
  {
    href: 'https://superstream.finance/',
    name: 'superstream',
    description: 'Solana-based protocol for real-time streaming payments',
  },
  {
    href: 'https://github.com/gpahal/solana-fellowship',
    name: 'solana-fellowship',
    description: 'Stuff I worked on as part of my Solana Fellowship',
  },
  {
    href: 'https://github.com/gpahal/jslib',
    name: 'jslib',
    description: 'JS/TS libraries and configs I use in my projects',
  },
  {
    href: 'https://github.com/gpahal/hgraph',
    name: 'hgraph',
    description: 'Toy graph datastore implemented in Haskell',
  },
  {
    href: 'https://github.com/gpahal/head',
    name: 'head',
    description: 'Go library for parsing information in a HTML head tag',
  },
  {
    href: 'https://github.com/gpahal/kvs',
    name: 'kvs',
    description: 'Go interface for kv stores with an in-memory implementation',
  },
  {
    href: 'https://github.com/gpahal/golib',
    name: 'golib',
    description: 'Go libraries that I use in my projects',
  },
] as const
---

<Layout title="Projects">
  <header>
    <H1>Projects</H1>
  </header>

  <ul class="unstyled space-y-1.5">
    {
      projects.map((project) => {
        return (
          <li class="unstyled">
            <a
              href={project.href}
              class="unstyled group -mx-2 block rounded-md px-2 py-1 hocus:bg-gray-3"
            >
              <H3 class="my-0! font-medium!">{project.name}</H3>
              <p class="mb-0! mt-[-0.05rem]! text-base text-gray-11">{project.description}</p>
            </a>
          </li>
        )
      })
    }
  </ul>
</Layout>
