---
import Layout from '@/layouts/layout.astro'
import H1 from '@/components/heading/h1.astro'
import H2 from '@/components/heading/h2.astro'
---

<Layout title="Uses">
  <header>
    <H1>Uses</H1>
  </header>

  <div class="content">
    <p>
      This is rough list of the products I use daily as a software engineer. Check out{' '}
      <a href="https://uses.tech/">uses.tech</a> for a list of other people's <code>/uses</code> pages!
    </p>
    <p>
      There was a time in my early 20's when I used to enjoy building my own desktop and OS from
      scratch. I still enjoy tinkering with new tech but I depend on a simple setup so that I can
      focus more on my work.
    </p>
    <p></p>
    <H2 id="hardware">Hardware</H2>
    <ul>
      <li>
        Laptop: <a href="https://a.co/d/8kU4wFO">MacBook Pro M1 14&quot;</a>
      </li>
      <li>
        Monitor:{' '}
        <a href="https://www.dellstore.com/dell-27-4k-uhd-usb-c-monitor-s2722qc.html">
          Dell S2722QC 27-inch 4K UHD
        </a>
      </li>
      <li>
        Keyboard:{' '}
        <a
          href="https://www.logitech.com/products/combos/mk850-wireless-keyboard-mouse.920-008229.html"
        >
          Logitech MK850 Performance Wireless
        </a>
      </li>
      <li>
        Mouse:{' '}
        <a href="https://www.logitech.com/products/mice/mx-master-3s.910-006561.html">
          Logitech MX Master 3 Wireless
        </a>
      </li>
      <li>
        Headphones:{' '}
        <a
          href="https://www.amazon.com/Philips-SHP9500S-Precision-Over-ear-Headphones/dp/B00ENMK1DW"
        >
          Philips SHP9500 Wired
        </a>{' '}
        and{' '}
        <a
          href="https://www.bose.com/products/headphones/noise_cancelling_headphones/quietcomfort-headphones-45.html"
        >
          Bose QuietComfort 45 Wireless
        </a>
      </li>
    </ul>
    <H2 id="development-tools">Development Tools</H2>
    <ul>
      <li>
        IDE: <a href="https://www.cursor.com/">Cursor</a>
      </li>
      <li>
        Code management: <a href="https://github.com/">Github</a>
      </li>
      <li>
        API testing: <a href="https://www.postman.com/">Postman</a>
      </li>
    </ul>
    <H2 id="productivity-tools">Productivity tools</H2>
    <ul>
      <li>
        Command center: <a href="https://www.raycast.com/">Raycast</a>
      </li>
      <li>
        Knowledge base: <a href="https://www.notion.so/">Notion</a>
      </li>
      <li>
        Task management: <a href="https://linear.app/">Linear</a>
      </li>
      <li>
        Email: <a href="https://mail.google.com/">Gmail</a>
      </li>
      <li>
        Calendar: <a href="https://calendar.google.com/">Google Calendar</a> and{' '}
        <a href="https://www.notion.so/product/calendar">Notion Calendar</a>
      </li>
      <li>
        File management and backup: <a href="https://drive.google.com/">Google Drive</a> and{' '}
        <a href="https://www.dropbox.com/">Dropbox</a>
      </li>
    </ul>
    <H2 id="design-tools">Design tools</H2>
    <ul>
      <li>
        Interface design: <a href="https://www.figma.com/">Figma</a>
      </li>
      <li>
        Graphic design: <a href="https://www.canva.com/">Canva</a>
      </li>
    </ul>
    <H2 id="misc">Misc</H2>
    <ul>
      <li>
        Browser: <a href="https://arc.net/">Arc</a>
      </li>
      <li>
        DNS: <a href="https://1.1.1.1/">WARP by Cloudflare</a>
      </li>
      <li>
        VPN: <a href="https://mullvad.net/en">Mullvad</a>
      </li>
      <li>
        Break reminders: <a href="https://www.dejal.com/timeout/">Time Out</a>
      </li>
      <li>
        Blue light filter: <a href="https://justgetflux.com/">f.lux</a>
      </li>
      <li>
        CLI tools and configs: <a href="https://github.com/gpahal/dotfiles">dotfiles</a>
      </li>
    </ul>
  </div>
</Layout>
