---
import { getCollection, render } from 'astro:content'

import { format } from 'date-fns'

import Layout from '@/layouts/layout.astro'
import H1 from '@/components/heading/h1.astro'
import H2 from '@/components/heading/h2.astro'
import H3 from '@/components/heading/h3.astro'
import LinkButton from '@/components/link-button.astro'

const workExperiences = await getCollection('workExperiences')
const workExperiencesWithContent = await Promise.all(
  workExperiences.map(async (work) => {
    const { Content } = await render(work)
    return { ...work, Content }
  }),
)
workExperiencesWithContent.sort((a, b) => b.data.startedOn.getTime() - a.data.startedOn.getTime())

const notablePersonalProjects = await getCollection('notablePersonalProjects')
const notablePersonalProjectsWithContent = await Promise.all(
  notablePersonalProjects.map(async (project) => {
    const { Content } = await render(project)
    return { ...project, Content }
  }),
)
notablePersonalProjectsWithContent.sort((a, b) => b.data.startedOn.getTime() - a.data.startedOn.getTime())
---

<Layout title="Work">
  <header>
    <H1>Work</H1>
  </header>

  <div class="content">
    <p>
      I've worked in the tech industry for nearly eight years. The initial years were a rollercoaster - founded a
      startup and worked for a graph database company and a high-frequency trading firm. I discovered that customer
      delight is my biggest motivator. Since then, I have focused on building consumer-facing and enterprise products.
    </p>
    <p>
      Apart from my day jobs (listed below), I work on a few <a href="/projects">side projects</a> from time to time. A couple
      recent ones that I'm proud of are <a href="https://github.com/gpahal/microgpt">microgpt</a> and
      <a href="https://superstream.finance/">superstream</a>.
    </p>
    <H2 id="work-experiences">
      <span>Work Experiences</span>
      <LinkButton href="/docs/resume.pdf" class="z-10">View Resume</LinkButton>
    </H2>
    <ul class="unstyled">
      {
        workExperiencesWithContent.map((work) => {
          return (
            <li class="unstyled">
              <H3 class="mb-0! ">{work.data.company}</H3>
              <p class="mt-[-0.05rem]! text-base text-gray-11">
                {work.data.role}, {format(work.data.startedOn, 'MMM yyyy')} -{' '}
                {work.data.endedOn ? format(work.data.endedOn, 'MMM yyyy') : 'Present'}
              </p>
              <work.Content />
            </li>
          )
        })
      }
    </ul>
    <H2 id="notable-projects">
      <span>Notable Personal Projects</span>
    </H2>
    <ul class="unstyled">
      {
        notablePersonalProjectsWithContent.map((project) => {
          return (
            <li class="unstyled">
              <H3 class="mb-0! ">{project.data.project}</H3>
              <p class="mt-[-0.05rem]! text-base text-gray-11">
                {format(project.data.startedOn, 'MMM yyyy')} -{' '}
                {project.data.endedOn ? format(project.data.endedOn, 'MMM yyyy') : 'Present'}
              </p>
              <project.Content />
            </li>
          )
        })
      }
    </ul>
  </div>
</Layout>
